<% if (successMessage.length > 0) { %>
    <div class="flash-message success">
        <%= successMessage %>
    </div>
<% } %>
<% if (errorMessage.length) { %>
    <div class="flash-message error">
        <%= errorMessage %>
    </div>
<% } %>
  
<div class="auth-container">
  <div class="auth-header">
      <h1>Reset Password</h1>
  </div>

  <form action="/users/reset-password" method="POST">
      <input type="hidden" name="token" value="<%= token %>">
      <div class="form-group">
          <label for="new-password">New Password</label>
          <input type="password" id="new-password" name="newPassword" required>
      </div>

      <button type="submit" class="btn-primary">Reset Password</button>
  </form>
</div>